#main {
  text-align: center;
  width: 177vh;
  height: 56vh;
  border: 3px solid rgb(32.2, 34.9, 57.6);
  background-color: white;
  padding: 10px;
  padding-top: 40vh;
}

body {
  background-color: rgb(32.2, 34.9, 57.6);
}

input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  height: 5vh;
  background-color: white;
  color: rgb(32.2, 34.9, 57.6);
}

input[type=submit]:hover {
  color: white;
  background-color: rgb(32.2, 34.9, 57.6);
}