{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Check</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href={% static 'css/check.css'%}>
        <script type="text/javascript" src="{% static 'js/jquery-3.6.3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/check.js' %}"></script>
        <script src="https://kit.fontawesome.com/b12f80ab13.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav id = "header">
            {% include 'navigation.html' %}
        </nav>

        <main id = "check_results">
            <div class="section_one">
                <div class="clearance">
                    <i id="fail" class="fa-solid fa-xmark fa-10x"></i>
                    <i id="pass" class="fa-solid fa-check fa-10x"></i>
                    <p id = "outcome">You meet the requirements.</p>
                </div>

                <div class="reason">
                    <div id="training">
                        <span style="color:#860e04;"><i id="fail" class="fa-solid fa-xmark fa-3x"></i></span>
                        <span style="color:#5e8c61;"><i id="pass" class="fa-solid fa-check fa-3x"></i></span>
                        <h3>Training</h3>
                    </div>
                    <div id="role">
                        <span style="color:#860e04;"><i id="fail" class="fa-solid fa-xmark fa-3x"></i></span>
                        <span style="color:#5e8c61;"><i id="pass" class="fa-solid fa-check fa-3x"></i></span>
                        <h3>Role</h3>
                    </div>
                    <div id="history">
                        <span style="color:#860e04;"><i id="fail" class="fa-solid fa-xmark fa-3x"></i></span>
                        <span style="color:#5e8c61;"><i id="pass" class="fa-solid fa-check fa-3x"></i></span>
                    <h3>Post History</h3>
                    </div>
                </div>

                <div class="button">
                    <button id="logout">Logout</button>
                    <a href="#section_two"><button id="continue">Continue</button></a>
                </div>
            </div>
            <div id="section_two">
                <div id="platforms">
                    <button id="facebook"><i class="fa-brands fa-facebook fa-1x"></i>   Facebook</button>
                    <button id="twitter"><i class="fa-brands fa-twitter fa-1x"></i>   Twitter</button>
                    <button id="linkedin"><i class="fa-brands fa-linkedin fa-1x"></i>   LinkedIn</button>
                </div>
            </div>
        </main>
    </body>
</html>