{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Post</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href={% static 'css/create.css'%}>
    </head>
    <body>
        <nav id = "header">
            {% include 'navigation.html' %}
        </nav>

        <main id = "make_post">

        </main>

        <aside id = "image_attachments">

        </aside>

        <section id = "video_attachments">

        </section>

        <footer id = "footer"></footer>
    </body>
</html>